@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
$orange: hsl(31, 77%, 52%);
$cyan: hsl(184, 100%, 22%);
$dark-cyan: hsl(179, 100%, 13%);
$font-heading: "Big Shoulders Display", cursive;
$font-body: "Lexend Deca", sans-serif;
$transparent-white: hsla(0, 0%, 100%, 0.75);
$light-gray: hsl(0, 0%, 95%);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 15px;
}
body {
  color: white;
  font-family: $font-body;
  padding: 10vh 7.5vw;
  min-height: 100vh;
  display: grid;
  place-items: center;
}
main {
  width: 100%;
  max-width: 1200px;
  border-radius: 20px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.card {
  padding: clamp(20px, 15%, 100px);
  width: 100%;
  h1 {
    font-family: $font-heading;
    text-transform: uppercase;
    font-size: 2.5rem;
    margin: 20px 0;
    color: $light-gray;
  }
  p {
    font-size: 1.3rem;
    color: $transparent-white;
    margin-bottom: 40px;
  }
  &.sedans {
    background-color: $orange;
    button {
      color: $orange;
    }
  }
  &.suvs {
    background-color: $cyan;
    button {
      color: $cyan;
    }
  }
  &.luxury {
    background-color: $dark-cyan;
    button {
      color: $dark-cyan;
    }
  }
  button {
    padding: 20px 50px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-family: $font-body;
    font-size: 1.2rem;
    &:hover {
      color: white;
      border: 2px solid white;
      background-color: transparent;
      transition: background-color 0.3s linear;
    }
  }
}
@media screen and (min-width: 1200px) {
  .card button {
    margin-top: 100px;
  }
}
